<!-- templates/add_student.html -->
<!doctype html>
<html lang="en">
<head>
    <title>Add Student</title>
</head>
<body>
    <center><h1>Add New Student</h1></center>
    <form method="POST">
        Name: <input type="text" name="name" required><br><br>
        Age: <input type="number" name="age" required><br><br>
        Grade: <input type="text" name="grade" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        <button type="submit">Add Student</button>
    </form>
</body>
</html>